/* Variables CSS de l'application */
@layer variables {
    :root {
        /* Breakpoints */
        --sm: 40rem;
        --md: 48rem;
        --lg: 64rem;
        --xl: 80rem;

        /* Animations */
        --theme-change-duration: 250ms;
        --theme-change-timing-function: ease-in-out;
        --buttons-hover-duration: 250ms;
        --buttons-hover-timing-function: cubic-bezier(.13, .87, .73, .99);
        --buttons-active-duration: 600ms;
    }
}

/* Definition des variables pour le theme claire et sombre */
@layer color-themes {

    /* Si en theme claire: */
    :root {
        --background: whitesmoke;
        --text: black;
    }

    /* Si en theme sombre: */
    :root[theme="dark"] {
        --background: black;
        --text: whitesmoke;
    }
}

/* Transition douce lors du changement de theme */
html[theme-transition="true"],
html[theme-transition="true"] * {
    transition-property:
        background-color,
        color,
        border-color,
        outline-color,
        box-shadow,
        fill,
        stroke;
    transition-duration: var(--theme-change-duration);
    transition-timing-function: var(--theme-change-timing-function);
}